.my-desklet-container {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.my-desklet-content {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

